body{
  background: #F1F1F1;
}

.login__card{
  margin: 150px auto;
  border: 0;
  background: transparent;
}

.login__card-header{
  background: transparent;
  border-bottom: 0;
}

.login__input-group{
  background: white;
  border: 0;
  border-radius: 0;
}

.login__input-form-control{
  border-radius: 0;
  border: 0;
}

.login__button-submit{
  width: 100%;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.anonym__card{
  margin: 150px auto;
  border: 0;
  background: transparent;
}

.anonym__input{
  outline: none;
  border-color: none;
  background: white;
  border: 0;
  border-radius: 0;
}

.anonym__button{
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
}
