textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

body{
  background: #F1F1F1;
  font-family: Montserrat;
}

body.animation {
  width : 100%;
  height : 100%;
  position : absolute;
  z-index : 0;
  left : 0;
  top : 0;
  margin-left : 0;
  margin-top : 0;
  animation: colorchange; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange; /* Chrome and Safari */
  animation-duration: 50s;
  animation-iteration-count: infinite;
}

.alert{
  display: none;
  border-radius: 0;
  animation: fadeIn;
  -webkit-animation: fadeIn; /* Chrome and Safari */
  animation-duration: 1s;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.alert-danger{
  box-shadow: 0 0 5px 0 darkred;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.login__card{
  margin: 150px auto;
  border: 0;
  background: transparent;
}

.login__card-header{
  background: transparent;
  border-bottom: 0;
}

.login__input-group, .poll__input-group{
  background: white;
  border: 0;
  border-radius: 0;
}

.login__input-form-control, .poll__input-form-control{
  border-radius: 0;
  border: 0;
}

.login__button-submit{
  width: 100%;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.anonym__card{
  margin: 150px auto;
  border: 0;
  background: transparent;
}

.anonym__input{
  outline: none;
  border-color: none;
  background: white;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold
}

.anonym__button{
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.lobby__card{
  margin: 100px auto;
  border: 0;
  background: transparent;
}

.lobby__title, .lobby__players{
  padding: 15px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.lobby__players{
  text-transform: uppercase;
}

.lobby__button{
  padding: 15px;
  font-size: 4em;
  margin-bottom: 10px;
}

.dashboard__container{
  padding: 0;
}

.dashboard__nav{
  background: #46178F!important;
}

.dashboard__a{
  color: white!important;
  text-transform: uppercase;
  font-weight: bold;
}

.dashboard__sidebar{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow-y: auto;
  position: fixed;
  z-index: 1;
  height: 100%;
  padding: 2rem 0;
  background:#fff;
  box-shadow: .125rem 0 .25rem 0
  rgba(0,0,0,.1);
  color:#333;
}

.sidebar__ul{
  padding: 0;
  list-style: none;
}

.sidebar__li{
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
}

.sidebar__li--active{
  background: #F0ECF6;
}

.sidebar__a, .sidebar__a:hover{
  color: #46178F;
  text-decoration: none;
}

.dashboard_main_card{
  background: transparent; border: 0
}

.poll__group-title{
  padding: 20px;
  background: white;
  box-shadow: 0px 5px 5px 0px #ddd;
}

.poll__card_answer{
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.poll__input-group-title, .poll__input-form-control-title{
  font-size: 2em;
}

.poll__answer-editable{
  font-weight: bold;
}

.poll__answer-editable::placeholder{
  color: white;
  opacity: 1; /* Firefox */
}

.poll__answer-editable:-ms-input-placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.poll__answer-editable::-ms-input-placeholder{
  color: white;
  opacity: 1; /* Firefox */
}

.profile__img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile__imgEdit{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@keyframes colorchange
{
0% { background-color: maroon; }
7.14% { background-color: red; }
14.28% { background-color: orenge; }
21.42% { background-color: yellow; }
28.56% { background-color: olive; }
35.7% { background-color: purple; }
42.84% { background-color: fuchsia; }
49.98% { background-color: coral; }
57.12% { background-color: lime; }
64.26% { background-color: green; }
71.4% { background-color: navy; }
78.54% { background-color: blue; }
85.68% { background-color: aqua; }
92.82% { background-color: teal; }
100% {background-color:maroon;}
}

@keyframes fadeIn{
  0% {top:-50px;}
  100%{top:0px;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
0% {background-color: maroon;}
7.14% { background-color: red;}
14.28% { background-color: orenge;}
21.42% { background-color: yellow;}
28.56% { background-color: olive;}
35.7% { background-color: purple; }
42.84% { background-color: fuchsia; }
49.98% { background-color: white; }
57.12% { background-color: lime; }
64.26% { background-color: green; }
71.4% { background-color: navy; }
78.54% { background-color: blue; }
85.68% { background-color: aqua; }
92.82% { background-color: teal; }
100% {background-color:black;}
}